yfinance website

https://finance.yahoo.com/?guccounter=1&guce_referrer=aHR0cHM6Ly9naXRodWIuY29tL3JhbmFyb3Vzc2kveWZpbmFuY2U&guce_referrer_sig=AQAAAEr7INoZP5U9pxD3cIjrJy-hsHCRIUWn6qWV91qhi6TlteoXNf1xB3Svc0F5mhbsoLtJ5N533LoIEXPlmx5k6ROnXO5R2dJd0w2I_TpCZNy4kAKNJjwd-orh5KHIeReXwmTJ8MiMcHZlZmy0dMVhwsg3lc3hQBpOi_MMxCGs2Jch

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [2]:
tesla = yf.Ticker("TSLA")
print(tesla)

yfinance.Ticker object <TSLA>

In [4]:
bitcoin = yf.Ticker("BTC-USD")
print(bitcoin)

yfinance.Ticker object <BTC-USD>

In [3]:
tesla.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2021-04-12,685.700012,704.799988,682.090027,701.979980,29135700,0,0.0
2021-04-13,712.700012,763.000000,710.659973,762.320007,44652800,0,0.0
2021-04-14,770.700012,780.789978,728.030029,732.229980,49017400,0,0.0
2021-04-15,743.099976,743.690002,721.309998,738.849976,27848900,0,0.0
2021-04-16,728.650024,749.409973,724.599976,739.780029,27924000,0,0.0

In [5]:
bitcoin.history(period="max")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,0,0
...,...,...,...,...,...,...,...
2021-04-14,63523.753906,64863.097656,61554.796875,63109.695312,77451779687,0,0
2021-04-15,63075.195312,63821.671875,62208.964844,63314.011719,60954381579,0,0
2021-04-16,63258.503906,63594.722656,60222.531250,61572.789062,84293007468,0,0
2021-04-17,61529.921875,62572.175781,60361.351562,60683.820312,66138759198,0,0
2021-04-18,60365.292969,60980.078125,56278.277344,56278.277344,66433802240,0,0